[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dbt-postgres = "==1.10.0"
prefect = "==3.1.0"
psycopg2-binary = "==2.9.9"
requests = "==2.31.0"
python-dotenv = "==1.0.1"

[dev-packages]

[requires]
python_version = "3.11"
